__pycache__/globals.cpython-39.pyc
__pycache__/main.cpython-39.pyc
Controller/__pycache__/controller.cpython-39.pyc
Model/__pycache__/__init__.cpython-39.pyc
Model/__pycache__/board.cpython-39.pyc
Model/__pycache__/brain.cpython-39.pyc
Model/__pycache__/ga.cpython-39.pyc
Model/__pycache__/model.cpython-39.pyc
Model/__pycache__/parameters.cpython-39.pyc
Model/__pycache__/path.cpython-39.pyc
Model/__pycache__/steps.cpython-39.pyc
Model/__pycache__/top_paths.cpython-39.pyc
resources/brains/000.csv
resources/brains/001.csv
resources/brains/002.csv
resources/brains/003.csv
resources/brains/004.csv
resources/brains/005.csv
resources/brains/006.csv
View/__pycache__/__init__.cpython-39.pyc
View/__pycache__/app.cpython-39.pyc
View/__pycache__/draw_point_cloud.cpython-39.pyc
View/__pycache__/get_image.cpython-39.pyc
View/__pycache__/get_point_cloud.cpython-39.pyc
View/__pycache__/jump.cpython-39.pyc
View/__pycache__/parameters.cpython-39.pyc
View/__pycache__/view.cpython-39.pyc
View/__pycache__/walk.cpython-39.pyc
Avaday/View/walk.py
Avaday/View/__pycache__/draw_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/get_image.cpython-37.pyc
Avaday/View/__pycache__/get_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/jump.cpython-37.pyc
Avaday/View/__pycache__/parameters.cpython-37.pyc
Avaday/View/__pycache__/view.cpython-37.pyc
Avaday/View/__pycache__/walk.cpython-37.pyc
Avaday/Model/__pycache__/board.cpython-37.pyc
Avaday/Model/__pycache__/brain.cpython-37.pyc
Avaday/Model/__pycache__/ga.cpython-37.pyc
Avaday/Model/__pycache__/model.cpython-37.pyc
Avaday/Model/__pycache__/parameters.cpython-37.pyc
Avaday/Model/__pycache__/path.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/Controller/__pycache__/controller.cpython-37.pyc
Avaday/__pycache__/config.cpython-37.pyc
Avaday/Controller/__pycache__/controller.cpython-37.pyc
Avaday/Model/__pycache__/board.cpython-37.pyc
Avaday/Model/__pycache__/brain.cpython-37.pyc
Avaday/Model/__pycache__/ga.cpython-37.pyc
Avaday/Model/__pycache__/model.cpython-37.pyc
Avaday/Model/__pycache__/parameters.cpython-37.pyc
Avaday/Model/__pycache__/path.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/View/__pycache__/draw_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/get_image.cpython-37.pyc
Avaday/View/__pycache__/get_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/jump.cpython-37.pyc
Avaday/View/__pycache__/parameters.cpython-37.pyc
Avaday/View/__pycache__/view.cpython-37.pyc
Avaday/View/__pycache__/walk.cpython-37.pyc
Avaday/Model/__pycache__/board.cpython-37.pyc
Avaday/Model/__pycache__/brain.cpython-37.pyc
Avaday/Model/__pycache__/ga.cpython-37.pyc
Avaday/Model/__pycache__/model.cpython-37.pyc
Avaday/Model/__pycache__/parameters.cpython-37.pyc
Avaday/Model/__pycache__/path.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/View/__pycache__/draw_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/get_image.cpython-37.pyc
Avaday/View/__pycache__/get_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/jump.cpython-37.pyc
Avaday/View/__pycache__/parameters.cpython-37.pyc
Avaday/View/__pycache__/view.cpython-37.pyc
Avaday/View/__pycache__/walk.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/Controller/__pycache__/controller.cpython-37.pyc
Avaday/View/__pycache__/app.cpython-37.pyc
Avaday/View/__pycache__/config.cpython-37.pyc
Avaday/View/__pycache__/draw_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/draw_walks.cpython-37.pyc
Avaday/View/__pycache__/get_image.cpython-37.pyc
Avaday/View/__pycache__/get_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/jump.cpython-37.pyc
Avaday/View/__pycache__/parameters.cpython-37.pyc
Avaday/View/__pycache__/view.cpython-37.pyc
Avaday/View/__pycache__/walk.cpython-37.pyc
Avaday/View/__pycache__/app.cpython-37.pyc
Avaday/View/__pycache__/draw_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/get_image.cpython-37.pyc
Avaday/View/__pycache__/get_point_cloud.cpython-37.pyc
Avaday/View/__pycache__/jump.cpython-37.pyc
Avaday/View/__pycache__/parameters.cpython-37.pyc
Avaday/View/__pycache__/view.cpython-37.pyc
Avaday/View/__pycache__/walk.cpython-37.pyc
Avaday/Model/__pycache__/board.cpython-37.pyc
Avaday/Model/__pycache__/brain.cpython-37.pyc
Avaday/Model/__pycache__/ga.cpython-37.pyc
Avaday/Model/__pycache__/model.cpython-37.pyc
Avaday/Model/__pycache__/parameters.cpython-37.pyc
Avaday/Model/__pycache__/path.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/Model/__pycache__/board.cpython-37.pyc
Avaday/Model/__pycache__/brain.cpython-37.pyc
Avaday/Model/__pycache__/ga.cpython-37.pyc
Avaday/Model/__pycache__/model.cpython-37.pyc
Avaday/Model/__pycache__/parameters.cpython-37.pyc
Avaday/Model/__pycache__/path.cpython-37.pyc
Avaday/Model/__pycache__/steps.cpython-37.pyc
Avaday/Controller/__pycache__/controller.cpython-37.pyc
